body {
    background-color: #ABF1FA;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.header {
    background-color: #88AB8E;
    margin: 0;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: fixed;
    z-index: 10;
    box-shadow: 0rem 1rem 20px 0 rgba(0, 0, 0, 0.5);
}

.header .logo {
    color: #36443f;
    justify-content: start;
}

.navbar {
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    width: 58%;
    justify-content: center;
    align-items: center;
}

.header a {
    padding: 15px;
    margin-right: 20px;
    color: #EEE7DA;
    font-size: 23px;
    text-decoration: none;
    display: flex;
}

a:hover {
    color: #8ad3dd;
    font-weight: bold;
}

#a_cadastro {
    margin-right: 25px;
    color: #EEE7DA;
    font-weight: bold;
    background-color: #455750;
    border-radius: 10px;
    height: 10px;
    align-items: center;
}

#a_cadastro:hover {
    color: #8ad3dd;
}

.page {
    background-image: url("./assets/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.infographic {
    background-image: url("./assets/mapaMundi.png");
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    color: #000E0D;
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

.txt-infographic {
    color: aliceblue;
    text-align: left;
    padding-top: 70vh;
    padding-left: 40px;
    font-size: 31px;
    width: 40vw;
    height: 100%;
    margin-top: 250px;
}

.txt-infographic span {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.5vw;
    background-color: #6DC8BF;
    color: #000E0D;
}

.infographic img {
    height: 650px;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}

.artc_text h1 {
    color: #36443f;
}

.artc_text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 120px;
    margin-right: 100px;
    color: #000E0D;
    font-size: 20px;
}

.artc_text a {
    color: white;
    background-color: #36443f;
    margin-top: 20px;
    text-decoration: none;
    height: 45px;
    width: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article img {
    border-radius: 20px;
    height: 420px;
    width: 600px;
}

.article2 {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.article2 img {
    border-radius: 20px;
    height: 420px;
    width: 470px;
}

.article3 {
    background-image: url("./assets/coexist.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1rem 1rem 20px 0 rgba(1rem, 1rem, 0, 0.5);
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.artc_text3 {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 100px;
    color: white;
    font-size: 20px;
    align-items: center;
}

.artc_text3 a {
    color: white;
    background-color: #AC916D;
    margin-top: 20px;
    text-decoration: none;
    height: 45px;
    width: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interaction {
    background-image: url("./assets/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interaction img {
    width: 45vw;
    height: 100vh;
    position: absolute;
    margin-right: 30px;
}

.game_span {
    display: flex;
    flex-direction: row;
    letter-spacing: 30px;
    background-color: rgba(136, 171, 142, 0.95);
    width: 1200px;
    height: 300px;
    margin-top: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-weight: 600;
}

#ga {
    margin-right: 32vw;
    }

.footer {
    background-color: #88AB8E;
    padding: 0;
    margin: 0;
    height: 75px;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .logo {
    color: #000E0D;
    justify-content: start;
    margin-left: 60px;
}

.contacts {
    width: 500px;
    text-align: center;
    margin-left: 500px;
    font-size: 20px;
}