body {
    background-color: #ABF1FA;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.header {
    background-color: #88AB8E;
    margin: 0;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: fixed;
    box-shadow: 0rem 1rem 12px 0 rgba(0, 0, 0, 0.3);
}

.header .logo {
    color: #36443f;
    margin-right: 200px;
}

.navbar {
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header a {
    padding: 15px;
    margin-right: 20px;
    color: #36443f;
    font-size: 23px;
    text-decoration: none;
    display: flex;
}

a:hover {
    color: #8ad3dd;
    font-weight: bold;
}

#a_cadastro {
    margin-right: 25px;
    font-weight: bold;
    background-color: #10867b;
    border-radius: 10px;
    height: 10px;
    align-items: center;
}

#a_cadastro:hover {
    color: #8ad3dd;
}

.page {
    background-image: url("../assets/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    height: 100%;
}

.box_article {
    background-color: rgba(238, 231, 218, 0.5);
    margin: 150px;
    padding: 40px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 0rem 1rem 20px 0 rgba(0, 0, 0, 0.5);
}

.page h1 {
    color: #36443f;
    margin-bottom: 50px;
    text-align: center;
}

.page span {
    width: 850px;
    text-align: center;
    color: #000E0D;
    font-size: 20px;
    margin-bottom: 100px;
}

.footer {
    background-color: #88AB8E;
    padding: 0;
    margin: 0;
    height: 75px;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .logo {
    color: #000E0D;
    justify-content: start;
    margin-left: 60px;
    margin-right: 150px;
}

.contacts {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 400px;
    font-size: 18px;
}